# the built executable
encore
encore.exe
# vim swap files
*.swp
# configure output
config.log
config.status
# object files
*.o
*.lo
# libraries
*.la
# autoconf build directories
.deps
.libs
# autotools files
Makefile
Makefile.in
aclocal.m4
build-aux
stamp-h1
configure
libtool
autom4te.cache
# CTags files for vim
tags
